<footer id="global-footer" class="footer">
  <div class="container">
    <p>EXPERIENCE YOUR AMERICA</p>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-pull-4">
        <div id="gov-sites">
          <a href="//www.nps.gov/aboutus/accessibility.htm">ACCESSIBILITY  |  </a>
          <a href="//www.nps.gov/aboutus/privacy.htm">PRIVACY POLICY  |  </a>
          <a href="//www.nps.gov/aboutus/foia/index.htm">FOIA  |  </a>
          <a href="//www.nps.gov/aboutus/notices.htm">NOTICES  |  </a>
          <a href="//www.nps.gov/aboutus/disclaimer.htm">DISCLAIMER</a>
          <br>
          <a href="//www.nps.gov/aboutus/faqs.htm">FAQ  |  </a>
          <a href="//www.doi.gov/pmb/eeo/no-fear-act">NO FEAR ACT  |  </a>
          <a href="//www.nps.gov/aboutus/contactus.htm">CONTACT US  |  </a>
          <a href="//www.usa.gov">USA.GOV</a>
        </div>
        <br>
        <br>
        <div id="social-media">
          <a href="//www.facebook.com/nationalparkservice">Facebook </a>
          <a href="//www.youtube.com/nationalparkservice">Youtube </a>
          <a href="//www.twitter.com/nationalparkservice">Twitter </a>
          <a href="//www.instagram.com/nationalparkservice">Instagram </a>
          <a href="//www.flickr.com/nationalparkservice">Flickr</a>
          <a href="//itunes.apple.com/WebObjects/MZStore.woa/wa/viewArtistLegacy?cc=us&amp;id=216751324">iTunes</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="nps-logo">
          <div class="nps-logo-text" style="padding-right:30px;">
            <a href="//www.nps.gov">National Park Service</a>
            <br>
            <a href="//www.doi.gov" id="anch_21">U.S. Department of the Interior</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
