.hero {
  background-image: url("https://images.unsplash.com/photo-1491939065628-3b15bdf95a67?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31872662dcb2499ef8da3e5cecddd8d7&auto=format&fit=crop&w=3150&q=80");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
}

#sunset {
  width: 45%;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  color: white;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  position: relative;
  top: 60px;
}

a {
  color: white;
}

#celebrate {
  font-size: .875rem;
}

#nps-week {
  font-size: 2.8125rem;
  font-weight: 400;
}

button {
  border-radius: 4px;
  background-color: #0e9300;
  border: white;
  color: white;
  border: 1px solid #ffffff;
}

#search {
  margin-top: 184px;
  width: 100%;
  height: 28%;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  color: white;
  display: inline-block;
  text-align: center;
}

input {
  width: 900px;
  border-radius: 5px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

p {
  font-weight: bold;
}
