<div class="hero">
  <div class="container">
    <div id="sunset">
      <p id="celebrate">Let's Celebrate</p>
      <h2 id="nps-week">National Park Week</h2>
      <button id="trip-button" class="btn btn-lrg"><a href="https://www.nps.gov/subjects/npscelebrates/national-park-week.htm">PLAN A TRIP</a></button>
    </div>
  </div>

  <div id="search">
    <p>FIND A PARK</p>
    <form>
      <div class="form-group">
        <input type=text placeholder="Enter State (example CA)" [(ngModel)]="state" name="state">
      </div>
      <button class="btn btn-lrg" [routerLink]='["results"]' [queryParams]="{state:state}">SEE ALL PARKS</button>
    </form>

    <!-- <div *ngIf="parksResult">
    <app-park-list [childParks]="parksResult"></app-park-list>
  </div> -->
  </div>
</div>
