<!-- NAVBAR -->
<nav class="navbar navbar-default" style="background-color: black;">
  <img width="30" alt="nps logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1d/US-NationalParkService-Logo.svg">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="">NATIONAL PARK SERVICE</a>
  </div>
  <div class="nav">
    <a routerLink="search">SEARCH</a>
  </div>
  <div class="nav">
    <a routerLink="menu">MENU</a>
  </div>
</nav>


<app-homepage></app-homepage>

<app-park-list></app-park-list>


<!-- FOOTER -->

<footer id="global-footer" class="footer">
  <div class="container">
    <div id="search-footer">
      <form class="global-search-form" action="/search/index.html" method="get">
        <label class="global-search-label" for="site_search_footer">
          <button type="button" class="js-toggle">"Search "<i class="fa fa-search"></i>
          </button>
        </label>
        <div class="GlobalSearch-inputGroup" style="display: block; width: 0px;">
          <input class="GlobalSearch-input" type="text" autocomplete="off" id="site_search_footer" name="query" placeholder="Keyword Search">
          <button class="GlobalSearch-button GlobalSearch-submitButton btn-form btn-form-primary js-use-site-limit" type="submit">This Site</button>
          <button class="GlobalSearch-button GlobalSearch-secondaryButton btn-form btn-form-primary" type="submit">All NPS</button>
          <div></div>
        </div>
      </form>
    </div>

    <div class="row">
      <img class="GlobalFooter-printLogo print-only" src="/common/commonspot/templates/assetsCT/images/branding/nps_logo-bw.gif" alt="NPS print format logo">
    </div>

    <div class="col-sm-12">
      <img class="GlobalFooter-slogan" src="/common/commonspot/templates/assetsCT/images/branding/nps-footer-slogan.png" srcset="/common/commonspot/templates/assetsCT/images/branding/nps-footer-slogan.png 1x, /common/commonspot/templates/assetsCT/images/branding/nps-footer-slogan.png 2x" alt="Experience Your America">
    </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="GlobalFooter-nps-logo">
          <div class="GlobalFooter-nps-logo-text" style="padding-right:30px;">
            <a href="//www.nps.gov" id="anch_20">National Park Service</a>
            <a href="//www.doi.gov" id="anch_21">U.S. Department of the Interior</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-pull-4">
      <ul class="general-links">
        <a href="//www.nps.gov/aboutus/accessibility.htm" id="anch_23">Accessibility</a>
        <a href="//www.nps.gov/aboutus/privacy.htm" id="anch_24">Privacy Policy</a>
        <a href="//www.nps.gov/aboutus/foia/index.htm " id="anch_25">FOIA</a>
        <a href="//www.nps.gov/aboutus/notices.htm" id="anch_26">Notices</a>
        <a href="//www.nps.gov/aboutus/disclaimer.htm" id="anch_27">Disclaimer</a>
        <a href="//www.nps.gov/aboutus/faqs.htm" id="anch_28">FAQ</a>
        <a href="//www.doi.gov/pmb/eeo/no-fear-act" id="anch_29">No Fear Act</a>
        <a href="//www.nps.gov/aboutus/contactus.htm" id="anch_30">Contact Us</a>
        <a href="//www.usa.gov" id="anch_31">USA.gov</a>
      </ul>

      <ul id="social-media">
        <a href="//www.facebook.com/nationalparkservice">Facebook</a>
        <a href="//www.youtube.com/nationalparkservice">Youtube</a>
        <a href="//www.twitter.com/nationalparkservice">Twitter</a>
        <a href="//www.instagram.com/nationalparkservice">Instagram</a>
        <a href="//www.flickr.com/nationalparkservice">Flickr</a>
        <a href="//itunes.apple.com/WebObjects/MZStore.woa/wa/viewArtistLegacy?cc=us&amp;id=216751324">iTunes</a>
      </ul>
    </div>
  </div>
</footer>
