<!-- NAVBAR -->
<div class="container">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent" style="background-color: black;">
      <div class="p-4">
        <div class="row">
          <div class="col-sm-3">
            <p><a id="visit" href="https://www.nps.gov/planyourvisit/index.htm">Plan Your Visit</a></p>
            <p><a href="https://www.nps.gov/findapark/index.htm">Find a Park</a></p>
            <p><a href="https://www.nps.gov/planyourvisit/event-search.htm">Events</a></p>
            <p><a href="https://www.nps.gov/planyourvisit/passes.htm">Passes</a></p>
            <p><a href="https://www.nps.gov/planyourvisit/trip-ideas.htm">Trip Ideas</a></p>
          </div>
          <div class="col-sm-6">
            <p><a id="explore" href="https://www.nps.gov/learnandexplore/index.htm">Learn and Explore</a></p>
            <div class="row">
              <div class="col-sm-3">
                <p><a href="https://www.nps.gov/aboutus/index.htm">About US</a></p>
                <p><a href="https://www.nps.gov/nature/index.htm">Explore Nature</a></p>
                <p><a href="https://www.nps.gov/teachers/index.htm">Teachers</a></p>
                <p><a href="https://www.nps.gov/aboutus/news/photosmultimedia.htm">Photos & Multimedia</a></p>
              </div>
              <div class="col-sm-3">
                <p><a href="https://www.nps.gov/history/index.htm">Discover History</a></p>
                <p><a href="https://www.nps.gov/kids/index.cfm">Kids</a></p>
                <p><a href="https://www.nps.gov/aboutus/news/index.htm">News</a></p>
                <p><a href="https://www.nps.gov/learnandexplore/subjects.htm?utm_source=globalnav&utm_medium=website&utm_campaign=atoz_topics&utm_content=text">A to Z Topics</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <p><a id="involved" href="https://www.nps.gov/getinvolved/index.htm">Get Involved</a></p>
            <p><a href="https://www.nps.gov/getinvolved/donate.htm">Donate</a></p>
            <p><a href="https://www.nps.gov/getinvolved/partner.htm">Partner</a></p>
            <p><a href="https://www.nps.gov/getinvolved/volunteer.htm">Volunteer</a></p>
            <p><a href="https://www.nps.gov/aboutus/workwithus.htm">Work for Us</a></p>
            <p><a href="https://www.nps.gov/getinvolved/communities.htm">Community Resources</a></p>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark" style="background-color: black;">
      <div class="row">
        <img alt="nps logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1d/US-NationalParkService-Logo.svg">
        <p id="nps-logo"><a id="nps-navbar" href="www.nps.gov">National Park Service</a></p>
        <!-- <button type="button" name="search-button">Search</button> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>
</div>



<app-homepage></app-homepage>

<router-outlet></router-outlet>

<app-footer></app-footer>
