<!-- NAVBAR -->
<div class="container">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent" style="background-color: black;">
      <div class="p-4">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="text-white">Plan Your Visit</h4>
            <span class="text-white">Lorem Ipsum.</span>
          </div>
          <div class="col-sm-3">
            <h4 class="text-white">Learn and Explore</h4>
            <span class="text-white">Lorem Ipsum</span>
          </div>
          <div class="col-sm-3">
            <h4 class="text-white">Get Involved</h4>
            <span class="text-white">Lorem Ipsum</span>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark" style="background-color: black;">
      <div class="row">
        <img alt="nps logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1d/US-NationalParkService-Logo.svg">
        <p id="nps-logo"><a href="www.nps.gov">National Park Service</a></p>
        <!-- <button type="button" name="search-button">Search</button> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>
</div>



<app-homepage></app-homepage>

<router-outlet></router-outlet>

<app-footer></app-footer>
