<div class="container">
  <hr>
  <div class="row">
    <div *ngFor="let blog of blogs | async" (click)="goToDetailPage(blog)" class="col-md-4">
      <div class="card mb-4 box-shadow imgBox">
        <img class="card-img-top projectImg" src="{{blog.imageUrl}}" alt="Card image cap">
        <div class="card-body">
          <div>
            <p class="card-title">{{blog.featureTitle}}</p>
            <br>
            <p class="card-text">by {{blog.featureDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
